@page
@model MyWebSite.Pages.Company.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid">
    <div class="container">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>Редактировать</h1>
                    <h4>Компании</h4>
                    <hr />
                    <form method="post" class="row g-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Company.ID" />
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 asp-for="Company.Title" class="control-label">Название</h5>
                                <input asp-for="Company.Title" class="form-control" />
                                <span asp-validation-for="Company.Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Company.Rank" class="control-label">Рейтинг</label>
                                <input asp-for="Company.Rank" class="form-control" />
                                <span asp-validation-for="Company.Rank" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 asp-for="Company.EnrollmentDate" class="control-label">Дата Регистрации</h5>
                                <input asp-for="Company.EnrollmentDate" class="form-control" />
                                <span asp-validation-for="Company.EnrollmentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 asp-for="Company.Thematics" class="control-label">Тематика</h5>
                                <select asp-for="Company.Thematics" class="form-control" aria-label="Default select example">
                                    <option selected>Выберите тематику вашей компании</option>
                                    <option>Образование</option>
                                    <option>Животные</option>
                                    <option>Права человека</option>
                                    <option>Природа</option>
                                    <option>Культура</option>
                                    <option>Игры</option>
                                    <option>Другое</option>
                                </select>
                                <span asp-validation-for="Company.Thematics" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 asp-for="Company.Bonus" class="control-label">Бонус</h5>
                                <input asp-for="Company.Bonus" class="form-control" />
                                <span asp-validation-for="Company.Bonus" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <h5 asp-for="Company.Description" class="control-label">Описание</h5>
                                <textarea asp-for="Company.Description" class="form-control"></textarea>
                                <span asp-validation-for="Company.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Company.Images" class="control-label">Изображения</label>
                                <div class="input-group mb-3">
                                    <input asp-for="Company.Images" type="file" class="form-control" id="inputGroupFile01">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 asp-for="Company.Video" class="control-label">Видео</h5>
                                <div class="input-group mb-3">
                                    <span asp-for="Company.Video" class="input-group-text" id="basic-addon3">https://example.com/users/</span>
                                    <input asp-for="Company.Video" type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 asp-for="Company.Topic" class="control-label">Новости</h5>
                                <input asp-for="Company.Topic" class="form-control" />
                                <span asp-validation-for="Company.Topic" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <h5 asp-for="Company.News" class="control-label">Описание</h5>
                                <textarea asp-for="Company.News" class="form-control"></textarea>
                                <span asp-validation-for="Company.News" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 asp-for="Company.Price" class="control-label">Цена</h5>
                                <input asp-for="Company.Price" class="form-control" />
                                <span asp-validation-for="Company.Price" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <h5 asp-for="Company.Tags" class="control-label">Тэги</h5>
                                <input asp-for="Company.Tags" class="form-control" />
                                <span asp-validation-for="Company.Tags" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="submit" value="Save" />
                            </div>
                        </div>
                    </form>
                    <div>
                        <a asp-page="./Index">Вернуться к списку</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
