@page
@model MyWebSite.Pages.User.EditModel

@{
    ViewData["Title"] = "Edit";
}

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<h1>@Localizer["Редактировать"]</h1>

<h4>@Localizer["Пользователя"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Instructors.ID" />
            <div class="form-group">
                <label asp-for="Instructors.LastName" class="control-label"></label>
                <input asp-for="Instructors.LastName" class="form-control" />
                <span asp-validation-for="Instructors.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructors.FirstMidName" class="control-label"></label>
                <input asp-for="Instructors.FirstMidName" class="form-control" />
                <span asp-validation-for="Instructors.FirstMidName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructors.HireDate" class="control-label"></label>
                <input asp-for="Instructors.HireDate" class="form-control" />
                <span asp-validation-for="Instructors.HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructors.Age" class="control-label"></label>
                <input asp-for="Instructors.Age" class="form-control" />
                <span asp-validation-for="Instructors.Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructors.Country" class="control-label"></label>
                <input asp-for="Instructors.Country" class="form-control" />
                <span asp-validation-for="Instructors.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructors.City" class="control-label"></label>
                <input asp-for="Instructors.City" class="form-control" />
                <span asp-validation-for="Instructors.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructors.Email" class="control-label"></label>
                <input asp-for="Instructors.Email" class="form-control" />
                <span asp-validation-for="Instructors.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instructors.AboutMe" class="control-label"></label>
                <input asp-for="Instructors.AboutMe" class="form-control" />
                <span asp-validation-for="Instructors.AboutMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">@Localizer["Вернуться к списку"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
