@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1>Подтвердите изменение электронной почты</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />