@page
@model ErrorModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ошибка</h1>
<h2 class="text-danger">При обработке вашего запроса произошла ошибка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим разработки</h3>
<p>
    При переходе в среду разработки отображается подробная информация о возникшей ошибке.
</p>
<p>
    Среда разработки не должна быть включена для развернутых приложений. 
    Это может привести к отображению конфиденциальной информации от исключений конечным пользователям. 
    Для локальной отладки включите среду разработки, установив переменную среды ASPNETCORE_ENVIRONMENT в значение Development и перезапустив приложение.
</p>
